<%= form_for(@recognition) do |f| %>
  <% if @recognition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recognition.errors.count, "error") %> prohibited this recognition from being saved:</h2>

      <ul>
      <% @recognition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row award_badge_container">
    <h4>Award A Badge</h4>
    <p>Select some badges and then select some people to receive them. That’s it!</p>
    <h6>Choose a Nifty Badge</h6>
    <table class="award_badge_table">
      <thead>
        <th></th>
        <th>Badge</th>
        <th>Badge Name</th>
        <th>Description</th>
        <th>Label</th>
      </thead>
      <tbody>
        <% Badge.all.each do |badge| %>
          <tr>
            <td><%= check_box_tag "recognition[badges][#{badge.id}]" %></td>
            <td><%= badge.artwork.try(:image) || image_tag("badge_med_thumbnail.png", :alt => "badge", :class => "badge-small") %></td>
            <td><%= badge.name %></td>
            <td><%= badge.description %></td>
            <td><%= badge.material_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h6>Who Deserves This Award
      <%= f.collection_select(:recipient, User.all, :id, :name, {}, { multiple: true, class: 'chosen-select', data: { placeholder: "Select some users" } }) %>
    </h6>

    <label>Write Something Nice
      <%= f.text_area :reason %>
    </label>

    <div class="panel">
      <label>When badges are awarded, the badges will appear on the public dashboard.</label>
      <%= f.submit class: "button" %>
    </div>

  </div>

<% end %>
