<%= form_for(@recognition) do |f| %>
  <% if @recognition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recognition.errors.count, "error") %> prohibited this recognition from being saved:</h2>

      <ul>
      <% @recognition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.collection_select :awarder_id, User.all, :id, :name %>

  <%= f.collection_select :recipient_id, User.all, :id, :name %>

  <%= f.collection_select :badge_id, Badge.all, :id, :name %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
