<%= form_for(@recognition) do |f| %>
  <% if @recognition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recognition.errors.count, "error") %> prohibited this recognition from being saved:</h2>

      <ul>
      <% @recognition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <h1>Award A Badge</h1>
    Select some badges and then select some people to receive them. That’s it!
    <h2>Choose a Nifty Badge</h2>
    <table>
      <thead>
        <th></th>
        <th>Badge</th>
        <th>Badge Name</th>
        <th>Description</th>
        <th>Label</th>
      </thead>
      <tbody>
        <% Badge.all.each do |badge| %>
          <tr>
            <td><%= check_box_tag "recognition[badges][#{badge.id}]" %></td>
            <td><%= badge.artwork.try(:image) %></td>
            <td><%= badge.name %></td>
            <td><%= badge.description %></td>
            <td><%= badge.material_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= f.collection_select :awarder_id, User.all, :id, :name %>
  <%= f.collection_select :recipient_id, User.all, :id, :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
