<section class="public-dash">
  <article class="left">
    <div class="user">
      <div class="avatar margin-center"></div>
      <h1 class="name text-align-center">
        <%= user.name %>
      </h1>
      <h3 class="title text-align-center">
        <%= user.title %>
      </h3>
    </div>
    <div class="badge-count">
      <h2 class="text-align-center">
        <span class="total"><%= user.badges.count %></span> Total <span class="message">Not bad!</span>
      </h2>
    </div>
    <ul class="badge-breakdown text-align-center">
      <li><%= user.badges.material("Gold").count %> Gold</li>
      <li><%= user.badges.material("Silver").count %> Silver</li>
      <li><%= user.badges.material("Bronze").count %> Bronze</li>
    </ul>
  </article>
  <article class="right">
    <% if user.badges.count > 0 %>
      <div class="latest-badge clearfix">
        <% badge = user.latest_badge %>
        <% award = user.latest_award %>
        <h2 class="comment">
          "<%= award.reason %>"
        </h2>
        <div class="float-right">
          <div class="latest-badge-image float-right">
            <img src="" alt="<%= badge.name %>">
          </div>
          <div class="commentor float-right text-align-right">
            <h3 class="badge-name">
              <%= badge.name %>
            </h3>
            <p class="awarded-by">
              Awarded by <%= award.awarder.name %>
            </p>
            <p class="awarded-on">
              <%= award.created_at.strftime("%B %e, %Y") %>
            </p>
          </div>
        </div>
      </div>
      <ul class="received-badges">
        <% user.less_recent_badges.each do |badge|%>
          <li class="badge">
            <%= badge.name %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="latest-badge">
        <p>Lame, you have no badges</p>
      </div>
    <% end %>
  </article>
</section>