  <div class="header">
  <div class="row">
    <div class="small-3 columns" style="text-align: right;">
      <%= image_tag("default_avatar.png", :alt => "avatar", :class =>"avatar") %>
   </div>
    <div class="small-9 columns">
      <h1>Eugene Or</h1>
      <p>UI Designer</p>
      <div>
        <%= image_tag("badge_default.png", :alt => "badge", :class => "badge-small") %>
        <%= image_tag("badge_default.png", :alt => "badge", :class => "badge-small") %>
        <%= image_tag("badge_default.png", :alt => "badge", :class => "badge-small") %>
        <%= image_tag("badge_default.png", :alt => "badge", :class => "badge-small") %>
        <%= image_tag("badge_default.png", :alt => "badge", :class => "badge-small") %>
        <%= image_tag("badge_default.png", :alt => "badge", :class => "badge-small") %>
      </div>
    </div>
  </div>
</div>